doctype html
html(lang="en")
    include includes/_head
    include includes/_body
            include includes/components/_heading
            include includes/components/_timer
            include includes/components/_buttons
            include includes/components/_copyright
    include includes/_scripts