$main_dark_bg : #232323;
$main_text : #5375db;
$second_text_light : #f5f5f5;
$selection_text : #232323;
$selection_bg:#86a2f5;
$main_btn_bg : #5375db;
$main_btn_text : #f5f5f5;
$btn_shadow_color :#86a2f5;
$cursor_color : #5375db;
$scroll_dark_bg: #232323;
$scroll_handle : #5375db;