*{
    font-family:"DM Sans";
}
body { 
    background-color: $main_dark_bg;
    color: $main_text;
    overflow-x: hidden;
}
::selection{
    background-color: $selection_bg;
    color: $selection_text;
}