@media screen and (max-width : 991px) {
    #main_heading{
        font-size: 60px!important;
    }
}
@media screen and (max-width : 768px) {
    #main_heading{
        font-size: 50px!important;
    }
}
@media screen and (max-width : 326px) {
    #main_heading{
        font-size: 30px!important;
    }
}