.row 
    section.col-8.offset-2.col-md-6.offset-md-3.col-lg-4.offset-lg-4.d-flex.justify-content-around#timer_buttons
        button.btn.d-inline-flex.align-items-center.position-relative.animate__animated.animate__tada#start_timer 
            i.fa-solid.fa-play
        button.pulse.d-inline-flex.align-items-center.justify-content-center.bg-transparent.border-0.p-0.rounded-circle#stop_timer 
            i.fa-solid.fa-stop
        button.btn.btn-primary.bg-transparent.border-0.d-inline-flex.align-items-center#reset_timer(data-bs-toggle="tooltip" data-bs-title="Reset timer" data-bs-custom-class="custom-tooltip") 
            i.fa-solid.fa-arrow-rotate-left