.row.text-center
    footer#copyright Made with 
        span ❤ 
        | by 
        a.text-decoration-none(href='https://github.com/Silent-Watcher' target='_blank') silentWatcher
        time 2022
        |  ©