.row
    main.col-12.col-md-6.offset-md-3.d-flex#timer_input 
        input.w-100.bg-transparent.border-0.text-center#hour(type="number", name="" value='00' min='00' max='24')
        span :
        input.w-100.bg-transparent.border-0.text-center#minute(type="number", name="" value='00' min='00' max='60')
        span :
        input.w-100.bg-transparent.border-0.text-center#second(type="number", name="" value='00' min='00' max='60')